<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8" />
  <title>Insert title here</title>
</head>
<body>
<h1 th:inlines="text">文件上传</h1>
<form action="/question/advancedquestion" method="post" enctype="multipart/form-data">
  <input type="text" name="param1" value="参数一："  size="8" disabled ="false" />
  <input type="text" name="name" placeholder="参数值"/>
  <p>选择文件1: <input type="file" name="filename"/></p>
  <p>选择文件2: <input type="file" name="filename"/></p>
  <p>选择文件3: <input type="file" name="filename"/></p>
  <p>选择文件4: <input type="file" name="filename"/></p>
  <p>选择文件5: <input type="file" name="filename"/></p>
  <p>选择文件6: <input type="file" name="filename"/></p>
  <p>选择文件7: <input type="file" name="filename"/></p>
  <p>选择文件8: <input type="file" name="filename"/></p>
  <p>选择文件9: <input type="file" name="filename"/></p>
  <p><input type="submit" value="提交"/></p>
</form>
</body>
</html>